@media only screen and (max-width: 767px) {

.main-banner {

    padding: 140px 0px !important;
}


.a-link {
    margin-right: 0px !important;
}


    .header-heading-title h1 {
        margin: 0px;
        text-align: center;
        color: #fff;
        margin-top: 0px;
    }
  .ptb-120 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-title {
    margin-bottom: 40px;
  }
  .section-title span {
    font-size: 11px;
  }
  .section-title h2 {
    font-size: 23px;
  }
  .section-title .btn {
    display: none;
  }
  .section-title .bg-title {
    font-size: 98px;
    left: auto;
    right: 0;
    -webkit-transform: unset !important;
            transform: unset !important;
  }
  p {
    font-size: 13px;
  }
  .btn {
    font-size: 13px;
    padding: 12px 22px;
  }
  .preloader .loader {
    margin: -80px 0 0 -55px;
  }
  .main-banner {
    height: 100%;
    padding-top: 170px;
    padding-bottom: 125px;
  }
  .main-banner-content::before {
    display: none;
  }
  .main-banner-content h1 {
    font-size: 28px;
  }
  .main-banner-content h1 br {
    display: none;
  }
  .main-banner-content p {
    font-size: 15px;
  }
  .main-banner-content ul {
    margin-bottom: 30px;
  }
  .main-banner-content ul li {
    font-size: 13px;
  }
  .main-banner-content .button-box .video-btn {
    font-size: 13px;
    display: block;
    margin-left: 0;
    margin-top: 25px;
  }
  .main-banner-content .button-box .video-btn i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-right: 6px;
  }
  .main-banner-content.banner-content-center {
    margin: 0 auto 0;
    text-align: center;
  }
  .event-countdown {
    right: 0;
    left: 0;
    margin: 30px auto 0 15px;
    text-align: right;
  }
  .event-countdown #timer div {
    font-size: 30px;
    margin: 0 20px 0 0;
    position: relative;
  }
  .event-countdown #timer div span {
    margin-top: 0;
    font-size: 12px;
    position: relative;
    right: 0;
    top: 0;
    -webkit-transform: unset;
            transform: unset;
    margin-top: -5px;
    letter-spacing: 0;
    text-transform: capitalize;
    text-align: center;
  }
  .event-countdown #timer div#hours span {
    right: 0;
    margin-top: -5px;
  }
  .event-countdown #timer div#minutes span {
    right: 0;
    margin-top: -5px;
  }
  .event-countdown #timer div#seconds span {
    right: 0;
    margin-top: -5px;
  }
  .shape1, .shape2, .shape3, .shape4 {
    display: none;
  }
  .slideshow-banner .event-countdown {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .slideshow-banner .event-countdown #timer div {
    font-size: 37px;
    margin: 0 19px 0 0;
  }
  .home-slides.owl-theme .owl-nav [class*="owl-"] {
    left: 10px;
    width: 45px;
    height: 45px;
    top: auto;
    line-height: 48px;
    margin-top: 0;
    font-size: 25px;
    bottom: 5px;
  }
  .banner-form {
    padding: 30px 20px;
    margin-top: 40px;
  }
  .banner-form form label {
    font-size: 13px;
  }
  .banner-form form .form-control {
    height: 45px;
  }
  .banner-with-speaker.main-banner {
    padding-bottom: 0;
  }
  .banner-image {
    position: relative;
    top: 0;
    right: 0;
    text-align: center;
    margin-top: 40px;
  }
  .about-content span {
    font-size: 11px;
  }
  .about-content h2 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  .about-content h6 {
    font-size: 14px;
  }
  .about-image {
    margin-top: 40px;
  }
  .about-image .about-img1 {
    right: 0;
    top: 0;
    width: 100%;
  }
  .about-image .about-img2 {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
  }
  .about-image .shape-img {
    top: 27%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .about-image .btn {
    bottom: 0;
    right: 15px;
    -webkit-transform: unset !important;
            transform: unset !important;
  }
  .about-area-two .about-content .signature {
    margin-bottom: 0;
  }
  .about-area-three .about-content .signature {
    margin-bottom: 0;
  }
  .about-area-three .about-content ul li {
    font-size: 14px;
  }
  .about-area-three .about-image {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .about-area-three .about-image .about-img1 {
    margin-top: 0;
  }
  .about-area-three .about-image .btn {
    left: auto;
    bottom: 30px;
    right: 15px;
  }
  .countdown-area .event-countdown {
    margin: 0;
  }
  .countdown-area .event-countdown #timer {
    overflow: hidden;
    margin: 0 -10px;
    font-size: 35px;
    text-align: center;
  }
  .countdown-area .event-countdown #timer div {
    margin: 0;
    text-align: center;
    padding: 0 10px;
  }
  .why-choose-us {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .why-choose-us::before {
    opacity: .80;
  }
  .single-box {
    height: 100%;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    border: none !important;
  }
  .single-box .d-table {
    height: auto;
    display: block;
  }
  .single-box .d-table-cell {
    display: block;
  }
  .single-box .content {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
  .single-box .content .btn {
    opacity: 1;
    visibility: visible;
    margin-top: 20px;
  }
  .single-box .content .icon {
    font-size: 35px;
  }
  .single-box .content h3 {
    font-size: 19px;
  }
  .single-box:hover .content, .single-box:focus .content {
    bottom: 0;
  }
  .single-box:hover .content p, .single-box:focus .content p {
    margin-bottom: 0;
  }
  .single-box::before {
    display: none;
  }
  .why-choose-content {
    padding: 35px 25px;
  }
  .why-choose-content h3 {
    font-size: 19px;
    margin-bottom: 15px;
  }
  .why-choose-content span {
    margin: 0 auto 0;
  }
  .single-speakers .speakers-content {
    bottom: 20px;
    left: 20px;
  }
  .single-speakers .speakers-content h3 {
    font-size: 19px;
    margin-bottom: 0;
  }
  .single-speakers .speakers-content span {
    font-size: 13px;
  }
  .single-speakers:hover .speakers-content, .single-speakers:focus .speakers-content {
    bottom: 20px;
  }
  .single-speakers ul {
    padding: 10px 15px 5px;
  }
  .single-speakers ul li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }
  .elkevent-single-speakers .speakers-content h3 {
    font-size: 19px;
  }
  .elkevent-single-speakers .speakers-content span {
    font-size: 13px;
  }
  .elkevent-single-speakers ul li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
  }
  .speakers-area-two {
    padding-bottom: 30px;
  }
  .single-speakers-box .speakers-content h3 {
    font-size: 19px;
  }
  .single-speakers-box .speakers-content span {
    font-size: 13px;
  }
  .tabs {
    display: block;
    margin-bottom: 0;
  }
  .tabs li::before {
    display: none;
  }
  .tabs li a {
    font-size: 18px;
  }
  .tabs li a span {
    font-size: 13px;
  }
  .tab_content {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .tab_content .tabs_item .accordion .accordion-item {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .tab_content .tabs_item .accordion .accordion-item .accordion-title {
    display: block;
  }
  .tab_content .tabs_item .accordion .accordion-item .accordion-title .author {
    margin-right: 0;
    margin-bottom: 20px;
    position: relative;
    top: 0;
    -webkit-transform: unset;
            transform: unset;
  }
  .tab_content .tabs_item .accordion .accordion-item .accordion-title .schedule-info h3 {
    font-size: 19px;
    margin-bottom: 12px;
    line-height: 28px;
  }
  .tab_content .tabs_item .accordion .accordion-item .accordion-title .schedule-info ul li {
    display: block;
    font-size: 12px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .tab_content .tabs_item .accordion .accordion-item .accordion-title .schedule-info ul li:last-child {
    margin-bottom: 0;
  }
  .tab_content .tabs_item .accordion .accordion-item .accordion-content p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .tab_content .tabs_item .accordion .accordion-item .accordion-content .row .text-right {
    text-align: left !important;
    margin-top: 15px;
  }
  .schedule-slides-item .single-schedule {
    padding: 0 0 0 0;
  }
  .schedule-slides-item .single-schedule .schedule-date {
    font-size: 18px;
    padding: 25px;
    position: relative;
    width: auto;
  }
  .schedule-slides-item .single-schedule .schedule-date span {
    font-size: 13px;
  }
  .schedule-slides-item .single-schedule .schedule-content {
    display: block;
  }
  .schedule-slides-item .single-schedule .schedule-content .author {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .schedule-slides-item .single-schedule .schedule-content .schedule-info h3 {
    font-size: 19px;
    margin-bottom: 12px;
    line-height: 28px;
  }
  .schedule-slides-item .single-schedule .schedule-content .schedule-info ul li {
    display: block;
    font-size: 12px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .schedule-slides-item .single-schedule .schedule-content .schedule-info ul li:last-child {
    margin-bottom: 0;
  }
  .schedule-style-three {
    padding-bottom: 30px;
  }
  .single-schedule-item .schedule-date {
    font-size: 18px;
    padding: 25px;
    position: relative;
    width: auto;
  }
  .single-schedule-item .schedule-date span {
    font-size: 13px;
  }
  .single-schedule-item .schedule-item-wrapper .schedule-content {
    display: block;
  }
  .single-schedule-item .schedule-item-wrapper .schedule-content .author {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .single-schedule-item .schedule-item-wrapper .schedule-content .schedule-info h3 {
    font-size: 19px;
    margin-bottom: 12px;
    line-height: 28px;
  }
  .single-schedule-item .schedule-item-wrapper .schedule-content .schedule-info ul li {
    display: block;
    font-size: 12px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .single-schedule-item .schedule-item-wrapper .schedule-content .schedule-info ul li:last-child {
    margin-bottom: 0;
  }
  .btn-box {
    margin-top: 35px;
  }
  .btn-box .btn {
    margin: 5px 3px 0;
  }
  .schedule-slides.owl-theme .owl-nav {
    margin-top: 30px;
  }
  .schedule-slides.owl-theme .owl-nav [class*="owl-"] {
    font-size: 25px;
    position: relative;
    left: 0;
    top: 0;
    right: 0 !important;
  }
  .schedule-style-four .col-lg-8 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .schedule-style-four .col-lg-4 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .funfacts-area {
    padding-bottom: 25px;
  }
  .single-funfact {
    margin-bottom: 35px;
  }
  .single-funfact .icon {
    font-size: 30px;
  }
  .single-funfact h3 {
    font-size: 35px;
    margin-top: 8px;
  }
  .single-funfact p {
    font-size: 14px;
  }
  .funFact {
    text-align: center;
    margin-bottom: 35px;
    padding-left: 0;
  }
  .funFact .icon {
    font-size: 30px;
    position: relative;
  }
  .funFact h3 {
    font-size: 35px;
    margin-top: 8px;
  }
  .funFact p {
    font-size: 14px;
  }
  .cta-area {
    text-align: center;
  }
  .cta-area span {
    font-size: 13px;
  }
  .cta-area h3 {
    font-size: 23px;
  }
  .cta-area .text-right {
    text-align: center !important;
    margin-top: 25px;
  }
  .pricing-area {
    padding-bottom: 30px;
  }
  .pricing-table-box {
    margin-bottom: 30px;
  }
  .pricing-table-box .title {
    font-size: 19px;
  }
  .pricing-table-box .price-value {
    font-size: 30px;
  }
  .pricing-table-box .price-value sup {
    font-size: 20px;
    top: -13px;
  }
  .pricing-table-box .pricing-content li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 13px;
  }
  .pricing-table-box .pricing-content li:last-child {
    margin-bottom: 0;
  }
  .pricing-plan {
    margin-bottom: 30px;
  }
  .pricing-plan h3 {
    font-size: 19px;
  }
  .pricing-plan h3 span {
    height: 130px;
    width: 130px;
    line-height: 135px;
    font-size: 25px;
  }
  .pricing-plan .pricing-content li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 13px;
  }
  .pricing-plan .pricing-content li:last-child {
    margin-bottom: 0;
  }
  .partner-area .partner-title {
    margin-bottom: 40px;
    -webkit-transform: unset !important;
            transform: unset !important;
  }
  .partner-area .partner-title h3 {
    font-size: 18px;
  }
  .single-blog-post .blog-post-content {
    padding: 20px;
  }
  .single-blog-post .blog-post-content .date {
    font-size: 13px;
  }
  .single-blog-post .blog-post-content h3 {
    line-height: 28px;
    font-size: 18px;
  }
  .blog-section {
    padding-bottom: 30px;
  }
  .single-blog-card .post-tag {
    top: 15px;
  }
  .single-blog-card .post-tag a {
    padding: 8px 20px;
    font-size: 13px;
  }
  .single-blog-card .blog-post-content {
    padding: 0 20px 20px;
  }
  .single-blog-card .blog-post-content p, .single-blog-card .blog-post-content .read-more-btn {
    display: none;
  }
  .single-blog-card .blog-post-content h3 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .single-blog-card:hover .post-tag, .single-blog-card:focus .post-tag {
    top: 15px;
  }
  .buy-tickets-area.ptb-120 {
    padding-bottom: 140px;
  }
  .subscribe-area::before {
    height: 74%;
  }
  .subscribe-area .subscribe-inner {
    padding: 20px;
  }
  .subscribe-area .subscribe-inner span {
    font-size: 12px;
  }
  .subscribe-area .subscribe-inner h2 {
    font-size: 23px;
    line-height: 34px;
  }
  .subscribe-area .subscribe-inner .newsletter-form .btn {
    position: relative;
    height: 54px;
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  .page-title-area {
    padding-top: 160px;
    padding-bottom: 100px;
  }
  .page-title-area h1 {
    font-size: 28px;
  }
  .page-title-area span {
    margin-top: 7px;
    font-size: 14px;
  }
  .page-title-area ul li {
    font-size: 14px;
  }
  .login-area {
    height: 100%;
    padding: 120px 15px 120px;
  }
  .login-area .login-form h3 {
    padding: 30px 10px 25px;
    font-size: 20px;
  }
  .login-area .login-form p {
    text-align: center;
  }
  .login-area .login-form p a.pull-right {
    float: unset;
    margin-top: 5px;
  }
  .login-area .login-form p a.pull-left {
    float: unset;
  }
  .login-area .login-form form {
    padding: 25px 20px;
  }
  .login-area .login-form form label {
    font-size: 13px;
  }
  .signup-area {
    height: 100%;
    padding: 120px 15px 120px;
  }
  .signup-area .signup-form h3 {
    font-size: 20px;
  }
  .signup-area .signup-form form {
    padding: 25px 20px;
  }
  .signup-area .signup-form form label {
    font-size: 13px;
  }
  .coming-soon {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .coming-soon .coming-soon-content h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .coming-soon .coming-soon-content #timer div {
    font-size: 40px;
    width: 120px;
    height: 120px;
    padding-top: 27px;
    line-height: 39px;
    margin: 0 5px 15px;
  }
  .coming-soon .coming-soon-content form button {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    border-radius: 30px;
    margin-top: 10px;
    padding: 13px 0;
  }
  .error-area h1 {
    font-size: 110px;
    line-height: 85px;
  }
  .error-area h3 {
    margin: 30px 0 15px;
    font-size: 19px;
  }
  .faq-accordion {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    padding: 0;
  }
  .faq-accordion .accordion .accordion-title {
    padding: 10px 10px 10px 50px;
    font-size: 14px;
  }
  .faq-contact {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    padding: 0;
  }
  .faq-contact h3 {
    font-size: 19px;
    margin-bottom: 25px;
  }
  .sidebar {
    margin-top: 50px;
  }
  .sidebar .widget .widget-title {
    font-size: 17px;
  }
  .sidebar .widget.widget_recent_entries ul li h5 {
    font-size: 14px;
  }
  .sidebar .widget.widget_categories ul li a {
    font-size: 14px;
  }
  .sidebar .widget.widget_tag_cloud .tagcloud a {
    font-size: 14px !important;
  }
  .sidebar .widget.widget_archive ul li a {
    font-size: 14px;
  }
  .blog-details h3 {
    font-size: 19px;
    line-height: 30px;
  }
  .blog-details .blog-meta ul li {
    font-size: 13px;
  }
  .blog-details blockquote, .blog-details .blockquote {
    padding: 88px 20px 20px 20px;
    border-width: 3px;
  }
  .blog-details blockquote::before, .blog-details .blockquote::before {
    left: 20px;
    top: 20%;
  }
  .blog-details blockquote p, .blog-details .blockquote p {
    font-size: 15px;
  }
  .post-tag-media {
    text-align: center;
  }
  .post-tag-media ul.social-share {
    text-align: center;
    margin-top: 15px;
  }
  .comments-area .comments-title, .comments-area .comment-reply-title {
    font-size: 19px;
  }
  .comments-area ol li .comment-body, .comments-area ul li .comment-body {
    padding: 20px 15px;
  }
  .comments-area ol li .comment-body .comment-meta .comment-author .fn, .comments-area ul li .comment-body .comment-meta .comment-author .fn {
    font-size: 15px;
    margin-bottom: 0;
  }
  .comments-area ol li .comment-body .comment-meta .comment-metadata a, .comments-area ul li .comment-body .comment-meta .comment-metadata a {
    font-size: 13px;
  }
  .comments-area ol li .comment-body .reply, .comments-area ul li .comment-body .reply {
    position: relative;
    right: 0;
    top: 0;
    margin-top: 20px;
  }
  .comments-area ol li .comment-body .reply a, .comments-area ul li .comment-body .reply a {
    font-size: 14px;
  }
  .contact-box {
    margin-bottom: 30px;
    padding-left: 80px;
  }
  .contact-box .icon {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
  }
  .contact-box h4 {
    font-size: 17px;
  }
  .contact-form {
    margin-top: 0;
  }
  .leave-your-message h3 {
    font-size: 19px;
  }
  #contactForm {
    margin-top: 30px;
    padding: 20px 15px;
  }
  #contactForm label {
    font-size: 14px;
  }
  .footer-area {
    padding-top: 60px;
  }
  .single-footer-widget {
    margin-bottom: 30px;
  }
  .single-footer-widget h3 {
    font-size: 19px;
    margin-bottom: 15px;
  }
  .single-footer-widget span {
    font-size: 13px;
  }
  .single-footer-widget a {
    font-size: 13px;
  }
  .single-footer-widget .social-links li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .copyright-area {
    margin-top: 20px;
  }
  .copyright-area ul {
    margin: 25px 0 18px;
  }
  .copyright-area ul li {
    margin: 3px 10px;
  }
  .copyright-area ul li a {
    font-size: 13px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .ptb-120 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section-title span {
    font-size: 14px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .section-title .bg-title {
    font-size: 100px;
    line-height: 100px;
    right: 20%;
    margin-top: -10px;
    -webkit-transform: unset !important;
            transform: unset !important;
  }
  .section-title .btn {
    margin-top: -25px;
  }
  .elkevent-mobile-nav .logo {
    left: 40px !important;
  }
  .elkevent-mobile-nav.mean-container a.meanmenu-reveal {
    padding: 12px 40px 0 0;
  }
  .main-banner {
    height: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .main-banner-content::before {
    display: none;
  }
  .main-banner-content p {
    font-size: 18px;
  }
  .main-banner-content h1 {
    font-size: 40px;
  }
  .main-banner-content ul li {
    font-size: 15px;
  }
  .main-banner-content.banner-content-center {
    margin-top: 0;
  }
  .home-slides.owl-theme .owl-nav [class*="owl-"] {
    top: auto;
    bottom: 20px;
    left: 35px;
  }
  .home-slides.owl-theme .owl-nav [class*="owl-"].owl-next {
    left: auto;
    right: 35px;
  }
  .banner-form {
    margin-top: 40px;
  }
  .banner-with-speaker.main-banner {
    padding-bottom: 0;
  }
  .banner-image {
    position: relative;
    top: 0;
    right: 0;
    text-align: center;
    margin-top: 40px;
  }
  .event-countdown #timer div {
    margin: 0 25px;
    font-size: 55px;
  }
  .event-countdown #timer div span {
    font-size: 13px;
    right: -28px;
    margin-top: -11px;
    letter-spacing: 0;
  }
  .event-countdown #timer div#hours span {
    right: -32px;
    margin-top: -10px;
  }
  .event-countdown #timer div#minutes span {
    right: -40px;
    margin-top: -10px;
  }
  .event-countdown #timer div#seconds span {
    right: -40px;
    margin-top: -10px;
  }
  .countdown-area .event-countdown #timer div {
    margin: 0 30px;
  }
  .about-content span {
    font-size: 14px;
  }
  .about-content h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .about-image {
    margin-top: 30px;
  }
  .about-image .about-img1 {
    position: relative;
    right: 0;
    top: 0;
  }
  .about-image .about-img2 {
    display: none;
  }
  .about-image .btn {
    bottom: 0;
    right: 25px;
    -webkit-transform: unset !important;
            transform: unset !important;
  }
  .about-area-three .about-image {
    margin-bottom: 30px;
  }
  .about-area-three .about-image .about-img1 {
    width: 100%;
  }
  .about-area-three .about-image .btn {
    bottom: 30px;
  }
  .why-choose-us {
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .single-box {
    height: 100%;
    margin-bottom: 30px;
    border: none !important;
    padding-left: 0;
    padding-right: 0;
  }
  .single-box .d-table {
    height: auto;
    display: block;
  }
  .single-box .d-table-cell {
    display: block;
  }
  .single-box .content {
    position: relative;
    z-index: 2;
    padding-left: 0;
    padding-right: 0;
  }
  .single-box .content .btn {
    opacity: 1;
    visibility: visible;
    margin-top: 20px;
  }
  .single-box .content .icon {
    font-size: 35px;
    line-height: 40px;
  }
  .single-box .content h3 {
    font-size: 22px;
  }
  .single-box:hover .content, .single-box:focus .content {
    bottom: 0;
  }
  .single-box:hover .content p, .single-box:focus .content p {
    margin-bottom: 0;
  }
  .why-choose-content h3 {
    font-size: 22px;
  }
  .why-choose-us-two .col-lg-4:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .why-choose-us-two .col-lg-4:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .why-choose-us-two .col-lg-4:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .why-choose-us-two .col-lg-4:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .why-choose-us-two .col-lg-4:nth-child(5) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .why-choose-us-two .col-lg-4:nth-child(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .why-choose-us-two .col-lg-4:nth-child(7) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .why-choose-us-two .col-lg-4:nth-child(8) {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .single-speakers .speakers-content h3 {
    font-size: 22px;
  }
  .elkevent-single-speakers .speakers-content h3 {
    font-size: 22px;
  }
  .speakers-area-two {
    padding-bottom: 50px;
  }
  .single-speakers-box .speakers-content h3 {
    font-size: 22px;
  }
  .shape1, .shape2, .shape3, .shape4 {
    display: none;
  }
  .tabs li a {
    font-size: 22px;
  }
  .tabs li a span {
    font-size: 14px;
  }
  .tab_content .tabs_item .accordion .accordion-item .accordion-title .schedule-info h3 {
    font-size: 21px;
    margin-bottom: 12px;
  }
  .tab_content .tabs_item .accordion .accordion-item .accordion-title .schedule-info ul li {
    font-size: 13px;
  }
  .schedule-slides-item .single-schedule {
    padding: 0 0 0 175px;
  }
  .schedule-slides-item .single-schedule .schedule-date {
    font-size: 22px;
    padding: 20px 20px;
    width: 175px;
  }
  .schedule-slides-item .single-schedule .schedule-date span {
    font-size: 14px;
  }
  .schedule-slides-item .single-schedule .schedule-content .schedule-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .schedule-slides-item .single-schedule .schedule-content .schedule-info ul li {
    margin-right: 10px;
    font-size: 13px;
  }
  .schedule-slides.owl-theme .owl-nav [class*="owl-"] {
    left: -15px;
  }
  .schedule-slides.owl-theme .owl-nav [class*="owl-"].owl-next {
    right: -15px;
    left: auto;
  }
  .schedule-style-three {
    padding-bottom: 50px;
  }
  .single-schedule-item .schedule-item-wrapper .schedule-content .schedule-info h3 {
    font-size: 20px;
  }
  .single-schedule-item .schedule-item-wrapper .schedule-content .schedule-info ul li {
    font-size: 14px;
  }
  .schedule-style-four .tab_content .tabs_item .accordion .accordion-item .accordion-title .schedule-info ul li {
    font-size: 14px;
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .schedule-style-four .tab_content .tabs_item .accordion .accordion-item .accordion-title .schedule-info ul li:last-child {
    margin-bottom: 0;
  }
  .single-funfact .icon {
    font-size: 35px;
  }
  .single-funfact h3 {
    font-size: 40px;
  }
  .funFact {
    padding-left: 0;
    text-align: center;
  }
  .funFact .icon {
    font-size: 35px;
    position: relative;
  }
  .funFact h3 {
    margin-top: 10px;
    font-size: 40px;
  }
  .pricing-area {
    padding-bottom: 50px;
  }
  .pricing-table-box {
    margin-bottom: 30px;
  }
  .pricing-table-box .title {
    font-size: 22px;
  }
  .pricing-table-box .price-value {
    font-size: 40px;
  }
  .pricing-table-box .price-value sup {
    font-size: 20px;
    top: -20px;
  }
  .pricing-plan {
    margin-bottom: 30px;
  }
  .pricing-plan h3 {
    font-size: 22px;
  }
  .pricing-plan h3 span {
    height: 140px;
    width: 140px;
    line-height: 145px;
    font-size: 30px;
  }
  .partner-area .partner-title {
    margin-bottom: 40px;
    -webkit-transform: unset !important;
            transform: unset !important;
  }
  .partner-area .partner-title h3 {
    font-size: 20px;
  }
  .cta-area span {
    font-size: 16px;
  }
  .cta-area h3 {
    font-size: 30px;
  }
  .cta-area .text-right {
    text-align: left !important;
    margin-top: 25px;
  }
  .single-blog-post .blog-post-content h3 {
    font-size: 20px;
  }
  .single-blog-card .blog-post-content {
    padding: 0 20px 20px;
  }
  .single-blog-card .blog-post-content h3 {
    margin-bottom: 0;
    font-size: 20px;
  }
  .single-blog-card .blog-post-content p, .single-blog-card .blog-post-content .read-more-btn {
    display: none;
  }
  .buy-tickets-area.ptb-120 {
    padding-bottom: 175px;
  }
  .subscribe-area .subscribe-inner span {
    font-size: 15px;
  }
  .subscribe-area .subscribe-inner h2 {
    font-size: 30px;
  }
  .page-title-area {
    padding-top: 160px;
    padding-bottom: 120px;
  }
  .page-title-area h1 {
    font-size: 30px;
  }
  .page-title-area span {
    margin-top: 8px;
    font-size: 16px;
  }
  .login-area {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .signup-area {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .coming-soon {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .faq-accordion {
    padding: 30px;
  }
  .faq-contact {
    padding: 30px;
  }
  .faq-contact h3 {
    font-size: 22px;
  }
  .sidebar {
    margin-top: 50px;
  }
  .sidebar .widget .widget-title {
    font-size: 20px;
  }
  .comments-area .comments-title, .comments-area .comment-reply-title {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .contact-box {
    margin-bottom: 30px;
    padding: 30px 20px 30px 75px;
  }
  .contact-box .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  .contact-box h4 {
    font-size: 18px;
    margin-bottom: 13px;
  }
  .contact-box p {
    margin-bottom: 3px;
    font-size: 14px;
  }
  .contact-box p:last-child {
    margin-bottom: 0;
  }
  .contact-form {
    margin-top: 20px;
  }
  .leave-your-message h3 {
    margin-bottom: 12px;
    font-size: 20px;
  }
  #contactForm {
    margin-top: 30px;
  }
  .footer-area {
    padding-top: 80px;
  }
  .single-footer-widget h3 {
    font-size: 22px;
  }
  .copyright-area {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .elkevent-nav nav .navbar-nav .nav-item a {
    font-size: 15px;
  }
  .main-banner-content p {
    font-size: 20px;
  }
  .main-banner-content h1 {
    font-size: 50px;
  }
  .banner-with-form .offset-lg-1 {
    margin-left: 0;
  }
  .banner-form {
    margin-top: 25px;
  }
  .event-countdown #timer div {
    font-size: 65px;
  }
  .about-content span {
    font-size: 15px;
  }
  .about-content h2 {
    font-size: 34px;
  }
  .about-image .about-img1 {
    width: 85%;
    top: -145px;
    right: -40px;
  }
  .about-image .about-img2 {
    left: 0;
    bottom: -142px;
  }
  .about-image .btn {
    bottom: 0;
    -webkit-transform: unset !important;
            transform: unset !important;
  }
  .about-area-three .about-image img {
    width: 100%;
  }
  .why-choose-content {
    padding: 10px;
  }
  .why-choose-content h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .single-box .content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .single-box .content h3 {
    font-size: 22px;
  }
  .single-box .content::before {
    display: none;
  }
  .cta-area h3 {
    font-size: 30px;
  }
  .cta-area span {
    font-size: 15px;
  }
  .single-speakers .speakers-content {
    bottom: 10px;
    left: 10px;
  }
  .single-speakers .speakers-content h3 {
    font-size: 22px;
  }
  .single-speakers ul li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }
  .single-speakers:hover .speakers-content, .single-speakers:focus .speakers-content {
    bottom: 12px;
  }
  .elkevent-single-speakers .speakers-content {
    padding: 15px 10px;
  }
  .elkevent-single-speakers .speakers-content h3 {
    font-size: 22px;
  }
  .elkevent-single-speakers .speakers-content span {
    font-size: 14px;
    margin-top: 6px;
  }
  .elkevent-single-speakers ul li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }
  .single-speakers-box .speakers-content h3 {
    font-size: 22px;
  }
  .section-title span {
    font-size: 15px;
  }
  .section-title h2 {
    font-size: 34px;
  }
  .section-title .bg-title {
    -webkit-transform: unset !important;
            transform: unset !important;
  }
  .tab_content .tabs_item .accordion .accordion-item .accordion-title .schedule-info h3 {
    font-size: 22px;
  }
  .schedule-slides-item .single-schedule .schedule-content .schedule-info h3 {
    font-size: 22px;
  }
  .single-schedule-item .schedule-item-wrapper .schedule-content .schedule-info h3 {
    font-size: 20px;
  }
  .single-schedule-item .schedule-item-wrapper .schedule-content .schedule-info ul li {
    font-size: 14px;
    display: block;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .single-schedule-item .schedule-item-wrapper .schedule-content .schedule-info ul li:last-child {
    margin-bottom: 0;
  }
  .pricing-table-box .title {
    font-size: 22px;
  }
  .pricing-table-box .price-value {
    font-size: 40px;
  }
  .partner-area .partner-title {
    -webkit-transform: unset !important;
            transform: unset !important;
  }
  .partner-area .partner-title h3 {
    font-size: 22px;
  }
  .subscribe-area .subscribe-inner span {
    font-size: 15px;
  }
  .subscribe-area .subscribe-inner h2 {
    font-size: 34px;
  }
  .sidebar .widget .widget-title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1650px) {
  /*.main-banner {*/
  /*  height: 100vh;*/
  /*}*/
  .event-countdown {
    right: 20%;
    bottom: 0;
  }
  .about-image .about-img1 {
    right: -200px;
  }
}

@media only screen and (max-width: 991px) {
  .elkevent-mobile-nav {
    display: block;
    position: relative;
  }
  .elkevent-mobile-nav .logo {
    position: absolute;
    top: 28px;
    z-index: 999;
    left: 15px;
  }
  .elkevent-mobile-nav .logo img {
    width: 125px;
  }
  .elkevent-mobile-nav nav .navbar-nav .nav-item a i {
    display: none;
  }
  .elkevent-nav {
    display: none !important;
  }
}
/*# sourceMappingURL=responsive.css.map */
